<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8"></meta>
<title>Ecko v1.0</title>

</head>
<body>
	<nav id="myNavbar" class="navbar navbar-default navbar-fixed-top"
		role="navigation" th:fragment="header">

		<!-- Brand and toggle get grouped for better mobile display -->

		<div class="container-fluid">

			<div class="navbar-header">

				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbarCollapse">

					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>

				</button>

				<a class="navbar-brand" href="#" th:href="@{/}">Grio v1.0</a>

			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->

			<div class="collapse navbar-collapse" id="navbarCollapse">

				<ul class="nav navbar-nav">

					<li class="active"><a href="#">Accueil</a></li>

					<li><a sec:authorize="hasRole('ROLE_ADMIN')"
						th:href="@{/admin}">Administration</a></li>
					<li><a sec:authorize="hasRole('ROLE_USER')" href="#">Mon
							tableau de bord</a></li>
					<li><a sec:authorize="hasRole('ROLE_USER')" href="#"
						th:href="@{/users/refill}"><span
							class="glyphicon glyphicon-list"></span> Recharger son compte</a></li>
					<li><a sec:authorize="isAuthenticated()" href="#"
						th:href="@{/users/password/change}">Changer votre mot de passe</a></li>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a class="btn btn-primary" role="button"
						sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" href="#"
						th:href="@{/activites}"><span class="glyphicon glyphicon-user"></span>
							<span sec:authentication="name"></span></a></li>
					<li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')"><a href="#"> <span th:unless="${balance ==null}" class="glyphicon glyphicon-usd"></span> <span th:unless="${balance == null}" th:text="${#numbers.formatInteger(balance,3,'WHITESPACE')}" >9,000</span></a></li>
					<li sec:authorize="isAuthenticated()"><a
						href="javascript:document.getElementById('logout').submit()"><span
							class="glyphicon glyphicon-off"></span> Quitter </a>
						<form id="logout" th:action="@{/logout}" method="post"></form></li>
					<li><a sec:authorize="!isAuthenticated()" href="#"
						th:href="@{/login}">S'identifier</a></li>
				</ul>

			</div>

		</div>

	</nav>
</body>
</html>