<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Ecko v1.0</title>
</head>
<body>
   <nav id="myNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation" th:fragment="header">

        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="container-fluid">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">

                    <span class="sr-only">Toggle navigation</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                </button>

                <a class="navbar-brand" href="#" th:href="@{/}">Grio v1.0</a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="navbarCollapse">

                <ul class="nav navbar-nav">

                    <li class="active"><a href="#">Accueil</a></li>

                    <li><a href="#" >Mon tableau de bord</a></li>

                    <li><a href="#"><span class="glyphicon glyphicon-list"></span> Historique</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                <li><a href="#" th:href="@{/activites}"><span class="glyphicon glyphicon-user"></span> Alan David KOUAKOU</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>Déconnecter</a></li>
                </ul>

            </div>

        </div>

    </nav>
</body>
</html>