<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org">
<head>
<meta charset="UTF-8"></meta>
<title>Notifier v1.0 - Reinitialisation mot de passe</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<nav th:replace="fragments/header :: header"></nav>

	<div class="jumbotron">

		<div class="container-fluid">
			<h2 class="text-success">Réinitialisation mot de passe</h2>
		</div>

	</div>

	<div class="container-fluid">
		<div class=" col-md-5 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Réinitialiser votre mot de passe </h3>
				</div>
				<div class="panel-body">

					<form action="#" class="form-horizontal" th:action="@{/users/password/change}"
						th:object="${p}" method="post">

						<input type="hidden" th:field="*{username}" />	

						<div class="form-group col-md-11">
							<div class="input-group col-md-offset-1 col-md-10">
							<span class="input-group-addon glyphicon glyphicon-lock"></span>
								<input type="password" class="form-control col-md-4" name="password" th:field="*{password}"
									id="password" placeholder="Entrez votre nouveau mot de passe" />
							</div>
						</div>
						<div class="form-group col-md-11">
							<div class="input-group col-md-offset-1 col-md-10">
							<span class="input-group-addon glyphicon glyphicon-lock"></span>
								<input type="password" class="form-control" name="passwordConfirm" th:field="*{passwordConfirm}"
									id="passwordConfirm" placeholder="Confirmer le mot de passe" />
							</div>
						</div>

						<div class="form-group col-md-11">
							<div class="col-md-offset-2 col-md-10">
								<button type="submit" class="btn btn-primary col-md-10">Valider</button>
								
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>


