<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Confirmation d'envoi</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<nav th:replace="fragments/header::header"></nav>
	<div class="jumbotron">

		<div class="container-fluid">
		<h2>Contact sauvegardé!!</h2>
		</div>

	</div>
	<div class="container-fluid">
			<p>
				 <br /> Prenom: <span
					th:text="${person.firstName}"></span><br /> Nom: <span
					th:text="${person.lastName}"></span><br /> Contact: <span
					th:text="${person.contact}"></span>
			</p>
	</div>

	<div th:replace="fragments/footer::footer"></div>
</body>
</html>