<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Confirmation d'envoi</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<nav th:replace="fragments/header::header"></nav>
	<div class="row">
		<p th:text="${fileBucket.originalFileName}"></p>
		
		<p>Sms attributes<br/>
		From   : ${sms.from}<br/>
		to     : ${sms.to}<br/>
		Message: ${sms.text}
		</p>
		<table class="table table-striped">
			<tr>
				<th>Nom</th>
				<th>Contact</th>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
	<hr></hr>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>