<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2}">
<head>
<meta charset="UTF-8"></meta>
<title>Notifier v1.0 - Fonds insuffisants </title>
</head>
<body>
	<nav th:replace="fragments/header :: header"></nav>
	<div class="jumbotron">
		<div class="container-fluid">
			<h2 class="text-alert">Fonds insuffisants!</h2>

		</div>
	</div>

	<div layout:fragment="content">
	<section class="content">
		<div class="callout callout-warning" >

			<h4> Solde insuffisant</h4> 
			<p> Vous n'avez pas suffisamment de crédit pour cette opération!</p>

		</div>
	</section>

		<div th:replace="fragments/footer::footer"></div>
	</div>
</body>
</html>