<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"></meta>
<title>Notifier v1.0</title>
</head>
<body>
	<nav th:replace="fragments/header :: header"></nav>
	<div class="jumbotron">
		<div layout:fragment="content">
			<div class="container-fluid">
				<h2 class="text-danger">Acces non autorisé!</h2>
			</div>

		</div>

		<div class="container-fluid">

			<div class="row">

				<div class="col-xs-12">

					<h2 class="text-warning">403 - Acces non autorisé!</h2>

					<p class="text-warning">Vous n'avez pas le niveau de privilège
						requis pour cette opération</p>
					<a href="#" th:href="@{/logout}">Re-connexion</a>
				</div>
			</div>
		</div>

		<div th:replace="fragments/footer::footer"></div>
	</div>
</body>
</html>