<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2}">
<head>
<meta charset="UTF-8"></meta>
<title>Erreur général </title>
</head>
<body>


	<div layout:fragment="content">
	<section class="content">
		<div class="callout callout-warning" >

			<h4> Erreur système</h4> 
			<p th:text="${error_message}"> L'application a rencontré un problème. Veuillez-vous reconnecter svp! </p>

		</div>
	</section>

	</div>
</body>
</html>