<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Notifier v1.0</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<nav th:replace="fragments/header :: header"></nav>
	<div class="jumbotron">
		<div class="container-fluid">
			<h1 class="text-success">Communiquez efficacement!</h1>
			<p>Votre solution de messagerie instantanée pour une
				communication efficace!</p>
			<p>
				<a href="#" th:href="@{/compose}" class="btn btn-success btn-lg">Essayer
					la solution!</a>
			</p>
		</div>
	</div>

	<div class="container-fluid">

		<div class="row">

			<div class="col-xs-4">

				<h2>Mes campagnes</h2>

				<p>Creez vos campagnes et envoyez vos SMS au bon moment!</p>

				<p>
					<a th:href="@{/compose}" class="btn btn-warning">Nouvelle
						campagne</a>
				</p>

			</div>

			<div class="col-xs-4">

				<h2>Mes groupes</h2>

				<p>Grâce aux groupes, vous organisez vos contacts et votre
					communication est mieux ciblée.</p>

				<p>
					<a href="#" th:href="@{/compose}" class="btn btn-warning">Nouveau
						groupe</a>
				</p>

			</div>

			<div class="col-xs-4">

				<h2>Mes contacts</h2>

				<p>Enregistrez vos contacts et organisez-les pour mieux</p>

				<p>
					<a href="#" th:href="@{/register}" class="btn btn-warning">Nouveau
						Contact</a>
				</p>

			</div>

		</div>

		<div th:replace="fragments/footer::footer"></div>
	</div>
</body>
</html>