<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymelaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{layout2}">
<head>
<meta charset="UTF-8"></meta>
<title>Accueil</title>
</head>
<body>
	<nav th:replace="fragments/header :: header"></nav>
	<div layout:fragment="content">
		<div class="jumbotron">
			<div class="container-fluid">
				<p></p>
				<div sec:authorize="isAnonymous()">
					<h2>
						<span th:text="#{template.welcome}">Vous êtes nouveau?</span>
					</h2>
					<p>
						<a href="#" class="btn btn-info btn-lg">Créez votre compte!</a>
					</p>
				</div>
				<div sec:authorize="isAuthenticated()">
					<h2 class="text-info">
						Bienvenue <span sec:authentication="name">visiteur</span>
					</h2>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Contacts</h3>
						</div>
						<div class="panel-body">
							<p>Enregistrez vos contacts ou importez vos contacts depuis
								un fichier!</p>

							<p>
								<a sec:authorize="isAuthenticated()" href="#"
									th:href="@{/contacts/list}" class="btn btn-warning">liste
									contacts</a> <a sec:authorize="isAuthenticated()" href="#"
									th:href="@{/import-xls}" class="btn btn-warning">importez
									vos contacts</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Groupes</h3>
						</div>
						<div class="panel-body">
							<p>Créez et organisez vos contacts par groupe</p>
							<p>
								<a sec:authorize="isAuthenticated()" href="#"
									th:href="@{/groups/list}" class="btn btn-warning">liste
									groupes</a>
							</p>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Gestion compte</h3>
						</div>
						<div class="panel-body">Panel content</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Historique</h3>
						</div>
						<div class="panel-body">Panel content</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Campagnes</h3>
						</div>
						<div class="panel-body">
							<p>
								<a sec:authorize="isAuthenticated()" th:href="@{/compose}"
									class="btn btn-warning">Nouvelle campagne</a>
							</p>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>