<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org">
<head>
<meta charset="UTF-8"></meta>
<title>Notifier v1.0</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<nav th:replace="fragments/header :: header"></nav>

	<div class="jumbotron">

		<div class="container-fluid">
			<h2 class="text-success">Connexion</h2>
		</div>

	</div>

	<div class="container-fluid">
		<div class="text-warning" th:unless="${param.error == null}"
			th:text="${param.error}"></div>
		<div class=" col-md-5 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Identification</h3>
				</div>
				<div class="panel-body">

					<form action="#" class="form-horizontal" th:action="@{/login}"
						method="post">

						<div class="form-group col-md-11">
							<div class="input-group col-md-offset-1 col-md-10">
							<span class="input-group-addon glyphicon glyphicon-user"></span>
								<input type="text" class="form-control col-md-4" name="username"
									id="username" placeholder="Entrez votre login" />
							</div>
						</div>
						<div class="form-group col-md-11">
							<div class="input-group col-md-offset-1 col-md-10">
							<span class="input-group-addon glyphicon glyphicon-lock"></span>
								<input type="password" class="form-control" name="password"
									id="password" placeholder="Entrez votre mot de passe" />
							</div>
						</div>

						<div class="form-group col-md-11">
							<div class="col-md-offset-1 col-md-10">
								<button type="submit" class="btn btn-primary col-md-10">Valider</button>
								
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>


