<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout2}">
<head>
<meta charset="UTF-8"></meta>
<title>Messages envoyés</title>
</head>
<body>
	<nav th:replace="fragments/header::header"></nav>

		<div layout:fragment="content">

			<div class="box box-success">
				<div class="box-header with-border">
					<h3 class="box-title">Derniers envois</h3>
					<div class="box-tools pull-right">
						<a class="btn btn-md btn-primary btn-flat" href="#" >Rechercher
							 <span class="glyphicon glyphicon-search"></span>
						</a>
					</div>
				</div>
				<div class="box-body">

					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th class="hidden-xs">Message ID</th>
								<th class="hidden-xs">Expéditeur</th>
								<th>Destinataire</th>
								<th>Date envoi</th>
								<th>Status
								<th class="hidden-xs"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="r:${responses}">
								<td class="hidden-xs"><span th:text="${r.messageId}"></span></td>
								<td class="hidden-xs"><span th:text="${r.sender}"></span></td>
								<td><span th:text="${r.to}"></span></td>
								<td ><span th:text="${#dates.format(r.sentAt,'dd/MM/yyyy HH:mm:ss')}"></span></td>
								<td><span th:text="${r.status}"></span></td>
								<td class="hidden-xs">
									<div class="btn-group">
										<a href="#" type="button" class="btn btn-xs btn-default btn-flat">Editer</a>
										<button type="button"
											class="btn btn-xs btn-default btn-flat dropdown-toggle"
											data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											<span class="caret"></span> <span class="sr-only">Toggle
												Dropdown</span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="#" ><span
													class="glyphicon glyphicon-remove"></span> Supprimer</a></li>
										</ul>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="box-footer"></div>
			</div>
		</div>

</body>
</html>