<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorate="~{layout2}">
<head>
<meta charset="UTF-8"></meta>
<title>Notifier v1.0 - Objet introuvable </title>
</head>
<body>
	<nav th:replace="fragments/header :: header"></nav>
	<div class="jumbotron">
		<div class="container-fluid">
			<h1 class="text-alert">Objet introuvable!</h1>

		</div>
	</div>

	<div layout:fragment="content">

		<section class="content" >

			<div class="callout callout-danger"> <h4>Une erreur s'est produite!</h4>
			<p>Veuillez vous reconnectez pour continuer à travailler.</p>
			 </div> 

		</section>

	</div>
</body>
</html>