<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{layout2}">
<head>
<meta charset="UTF-8"></meta>
<title>Rechargement de compte</title>
</head>
<body>

	<div layout:fragment="content">

			<div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">Demande de rechargement</h3>
				</div>
				<div class="box-body">
					<form action="#" class="form-horizontal"
						th:action="@{/users/refill}" th:object="${refill}" method="POST">

						<div class="form-group">
							<label for="username" class="control-label col-xs-2">Compte
								:</label>
							<div class="col-xs-4">
								<input type="text" class="form-control" th:field="*{user}"
									id="user" disabled="true" /> <input type="hidden"
									th:field="*{user}" />
							</div>
						</div>

						<div class="form-group">
							<label for="credit" class="control-label col-xs-2">Credit
								recharge :</label>
							<div class="col-xs-4">
								<input type="text" class="form-control" th:field="*{credit}"
									id="name" placeholder="Crédit demandé" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-offset-2 col-xs-4">
								<button type="submit" class="btn btn-lg btn-primary">Créer
									la demande</button>
							</div>
						</div>
					</form>
				</div>
				<div class="box-footer"></div>
			</div>

	</div>
	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>


