<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org">
<head>
<meta charset="UTF-8"></meta>
<title>Notifier v1.0 - Reinitialisation mot de passe</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<nav th:replace="fragments/header :: header"></nav>

	<div class="jumbotron">

		<div class="container-fluid">
			<h2 class="text-success">Mot de passe réinitialisée</h2>
		</div>

	</div>

	<div class="container-fluid">
		<div class=" col-md-5 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Opération réussie!</h3>
				</div>
				<div class="panel-body">
					<p class="text-success">Votre mot de passe a été réinitialisé avec succès!</p> 
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>


